<h1>Listing verses</h1>

<table>
  <tr>
    <th>Chapter</th>
    <th>Position</th>
    <th>Body</th>
  </tr>

<% @verses.each do |verse| %>
  <tr>
    <td><%=h verse.chapter_id %></td>
    <td><%=h verse.position %></td>
    <td><%=h verse.body %></td>
    <td><%= link_to 'Show', verse %></td>
    <td><%= link_to 'Edit', edit_verse_path(verse) %></td>
    <td><%= link_to 'Destroy', verse, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New verse', new_verse_path %>