<h1>Editing chapter</h1>

<% form_for(@chapter) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :book_id %><br />
    <%= f.text_field :book_id %>
  </p>
  <p>
    <%= f.label :position %><br />
    <%= f.text_field :position %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @chapter %> |
<%= link_to 'Back', chapters_path %>